@media only screen and (max-width: 1024px) {
	.software_industry img {
	    width: 3.5em;
	    height: 3.5em;
	}
	.volunteers_img{
		width: 70%
	}
	.returnship_card1img{
		width: 30%
	}
	.returnship_card1info{
		width: 70%
	}
	
}
@media only screen and (max-width: 1100px) {
	.section_bx_h{
		font-size: 32px;
	}
	.footer_founder_image{
	border-radius: 50%;padding:0% 10%;
}
	
}
@media only screen and (max-width: 768px) {
	

	
}
@media only screen and (max-width: 991px) {
	.navbar-collapse{
		display: block;
	}
	nav{
		background-color: #fff;
		box-shadow: 0 6px 26px -6px black;
	}
	.nav-link{
		color: #000
	}
	.navbar-brand{
		color: #000
	}
	.fa-bars{
		color: #000
	}
	.footer_developer_mnbx{
		position: relative;
		margin-bottom:  0em;
		display: block;
		justify-content: flex-start;
	}
	.footer_developer_image{
		margin: 0 auto -2em auto;
		width: 8em;
		height: 8em;
	}
	.footer_developer_cntnt{
		text-align: center;
	}

}
@media only screen and (max-width: 630px) {
	.home_stairsxs{
		display: block;
	}
	.home_stairslg{
		display: none;
	}
	.abcdef{
		display: block;
	}
	.home_stairslg_mbx{
		display: none;
	}
	.abcdef{
		background-image: url('../images/targetedmarketing2.jpg');
		background-position: right center;
		border-radius: 15px;
		height: 600px;
		background-size: cover;
		width: 100%;
	}
	.home_stairs .stair1{
	position: absolute;
	bottom: 105px;
	left: 50%;
	transform: translateX(-50%);
}

.home_stairs .stair2{
	position: absolute;
	bottom: 180px;
	left: 50%;
	transform: translateX(-50%);
}
.home_stairs .stair3{
	position: absolute;
	bottom: 255px;
	left: 50%;
	transform: translateX(-50%);
}
.home_stairs .stair4{
	position: absolute;
	bottom: 335px;
	left: 50%;
	transform: translateX(-50%);
}
.stair_info{
	position: relative;
	bottom: 0;
	left: 0;
	top: 30px;
	margin: auto;

}
.stair_info img{
	margin: auto;
	display: block;
}
.stair_info span{
	font-size: 1.5em;
}
.Our_services_logos img{
	width: 90%;
	display: block;

}

@media only screen and (max-width: 1024px) {
	.home_centre{
		font-size: 4em;
	}
	.carousel-inner img {
		width: auto;
      height: 100%;
  }
}

@media only screen and (max-width: 500px) {
	.section_bx_h {
	    font-size: 20px;
	    padding: 5px;
	}
	.home_centre {
	     font-size: 2.5em;
	}
	.row {
	    margin-right: 0px;
	    margin-left: 0px;
	}
	.hb_toggle_n{
		font-size: 22px;
	}
}

@media only screen and (max-width: 574px) {
	.footer_founder_image{
	border-radius: 50%;padding:5% 30%;
}
.footer_heading{
	margin-bottom: 0em;
	font-size: 38px;
}
}
