@media only screen and (max-width: 1024px) {
	.software_industry img {
	    width: 3.5em;
	    height: 3.5em;
	}
	.volunteers_img{
		width: 70%
	}
	.returnship_card1img{
		width: 30%
	}
	.returnship_card1info{
		width: 70%
	}
	
}
@media only screen and (max-width: 1100px) {
	.section_bx_h{
		font-size: 32px;
	}
	.footer_founder_image{
	border-radius: 50%;padding:0% 10%;
}
	
}
@media only screen and (max-width: 768px) {
	.navbar-brand{
		font-size: 1.85em;
	}
	
  .home_centre{
		font-size: 3em;
	}
	
}
@media only screen and (max-width: 991px) {
	.strip_head_show{
		display: block;
	}
	.strip_head_hide{
		display: none;
	}
	.body_hero_bx_strips_l .section_bx_cntn {
	    margin: 2.5em 1em;
	}
	.body_hero_bx_strips_r .section_bx_cntn {
	    margin: 2.5em 1em;
	}
	.section_bx_sub_cntn_main{
		margin: 15px 20px;
	}
	.section_bx_h{
		top: 0em;
	}
	.footer_founder_image{
	border-radius: 50%;padding:0% 0%;
}
}
@media only screen and (max-width: 425px) {
	.navbar-brand{
		font-size: 1.7em;
	}
	.fa-bars{
		font-size: 1.3em;
	}
	.navbar{
		padding: 0.5em 2em;
	}

}

@media only screen and (max-width: 1024px) {
	.home_centre{
		font-size: 4em;
	}
	.carousel-inner img {
		width: auto;
      height: 100%;
  }
}

@media only screen and (max-width: 500px) {
	.section_bx_h {
	    font-size: 20px;
	    padding: 5px;
	}
	.home_centre {
	     font-size: 2.5em;
	}
	.row {
	    margin-right: 0px;
	    margin-left: 0px;
	}
	.hb_toggle_n{
		font-size: 22px;
	}
}

@media only screen and (max-width: 574px) {
	.footer_founder_image{
	border-radius: 50%;padding:5% 30%;
}
.footer_heading{
	margin-bottom: 0em;
	font-size: 38px;
}
}
