@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=raleway');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@font-face {
  font-family: 'Varela Round';
  src:url('VarelaRound-Regular.otf') format('otf'), /* Pretty Modern Browsers */

}

@font-face {
  font-family: 'GTWalsheim';
  src:url('GTWalsheimProBold.ttf') format('ttf'), /* Pretty Modern Browsers */

}
a:hover{
	text-decoration: none;
}
*{
	font-family: 'Varela Round', sans-serif;
}
html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 1em;
	
	font-family: 'raleway', sans-serif;
}

.navbar-collapse{
	display: flex;
	justify-content: flex-end;
}
nav a{
	color: #fff;
}
nav{
	padding:  0.5% 3% !important;
}
.fa-bars{
	color: #fff;
	font-size: 1.2em
}
nav .navbar-brand{
	font-family: 'Rufina', serif;
	    font-size: 1.8em;
	    font-weight: 500;
    letter-spacing: .15em;
}
nav .nav-item{
	/*font-family: 'Varela Round', sans-serif;*/
	font-family: 'Josefin Sans', sans-serif;
}
.nav_border_hover{
	height: 2px;
	 margin: 0% 15%;
	 border-radius: 35px;
	background-color: #fff;
	opacity: 0;
	position: relative;
	top: 2px;
}
.nav-link:hover > .nav_border_hover{
	opacity: 1;
	-webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 0.5s;
}
.nav-link{
	font-weight: 600;
	font-size: 0.9em
}
.nav-link:hover{
	color: #fff;

}
section{
	padding: 10px 3% 15px 3%;
	margin: 1% 0%;
}
.home_banner{
	color: #fff;
	/*font-family: "Roboto";*/
	font-family: 'Anton', sans-serif;
	font-size: 3.5em;
	position: relative;
	top: 50%;
	padding-left: 3%;
	transform: translateY(-50%);
}
.home_banner button{
	color: #fff;
	border: 1px solid #fff;
	/*font-family: "Roboto";*/
	font-family: 'Roboto', sans-serif !important;
	font-size: 0.5em;
	
}
.mn-head{
	font-family: "EB Garamond", Garamond, "Times New Roman", serif;
	font-size: 2.1em;
	text-align: center;
}
.mn-cntnt{
	color: #333333;
	font-family: "GTWalsheim", sans-serif;
	text-align: center;
}
.sec_bisi .col-sm-4{
	text-align: center;
	margin: 0.8em 0;
}
.pg-head_b{
	font-family: "EB Garamond", Garamond, "Times New Roman", serif;
	font-size: 3em;
	position: absolute;
	color: #fff;
	bottom: 10px;
	padding-left: 3%;
}
.volunteers_img{
	width: 60%;
	height:100%;
	border-radius: 50%;
	margin: auto;
}
.volunteers_img img{
	border-radius: 50%;
	width: 100%;
	filter: grayscale(75%);

}
.volunteers_img:hover > img{
	filter: grayscale(0%);
}
.volunteers_img_cntnt{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	border-radius: 50%;
}
.ev-mn-subcntnt{
	text-align: center;
	color: #323232;
	font-size: 13px;
}
.ev-mn-cntnt{
	margin: 8px 0px 2px 0px;
}
.returnship-mn-subcntnt{

}
.returnship-mn-cntnt{
	margin: 8px 0px 2px 0px;
	font-size: 17px;
	text-align: left;
}
.returnship .volunteers_img{
	
	padding:  0.5em;
	width: 100%;
	border-radius: 3%;
}
.returnship .row{
	background-color: #f3f5f9;
}
.returnship .volunteers_img img{
	border-radius: 3%;
	width: 100%;
	filter: grayscale(0%);

}
.Mompreneurship_btn button{
	margin: 2em 20px 1em 0px;
	padding: 5px 20px;
	border-radius: 1em;
	box-shadow: 0 0px 6px 0 rgba(0,0,0,0.1);
}
.Mompreneurship_btnmember:hover{
	background-color: #292525;
	color: #fff;
	opacity: 0.9;
	-webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 0.5s;
}
.Mompreneurship_btnfaq:hover{
color: #292525;
	background-color: rgba(0,0,0,0.05);
	border: 1px solid #292525;
	opacity: 0.9;
	-webkit-animation-name: pulse;
	animation-name: pulse;
	animation-duration: 0.5s;
}
.Mompreneurship_btnmember{
	background-color: #292525;
	color: #fff;
}
.Mompreneurship_btnfaq{
	color: #292525;
	background-color: #fff;
	border: 1px solid #292525;
}
.Mompreneurship_img img{
	width: 100%;
	border-radius: 1em;
	box-shadow:3px 3px 20px 6px #ccc;
}
.bs-example{
        margin: 20px;
    }

 .Faq_card{
 	background-color: #fff !important ;
 }
 .Faq_card .card-header{
 	background-color:transparent;
 }
 .bs-example .card-body{
 	padding: 0em 2em 1em 2em !important;
 }
 .card{
 	cursor: pointer;
 }
  .card button{
 	text-decoration: none !important;
 }

 .Faq_card :hover{
 	background-color: #E8E8E8 ;
 }

.Faq_card button{
	color: #111;
}
.Faq_card .fa-chevron-right{
	margin-right: 5px;
}
 .FAQ_applynow{
	background-color: #292525;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	border-radius: 15px;
	padding:5px 10px; 
	position: relative;
	top: -4px;
	margin-left: 5px;
	/*-webkit-animation-name: flash;
	animation-name: flash;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;*/
}

.FAQ_applynow:hover{
	background-color: #292525;
	color: #fff;
	opacity: 0.9;
	-webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 0.5s;
}

.founder_image{
	width:  70%;
	border-radius: 50%;
	border:2px solid #fff;
	padding:0px;
	display: block;
	margin: auto;
}





.Returnship_btn button{
	margin: 10px 20px 10px 0px;
	font-size: 13px;
	padding: 5px 20px;
	border-radius: 1em;
	box-shadow: 0 0px 6px 0 rgba(0,0,0,0.1);
}
.Returnship_btnmember:hover{
	background-color: #292525;
	color: #fff;
	opacity: 0.9;
	-webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 0.5s;
}
.Returnship_btnfaq:hover{
color: #292525;
	background-color: rgba(0,0,0,0.05);
	border: 1px solid #292525;
	opacity: 0.9;
	-webkit-animation-name: pulse;
	animation-name: pulse;
	animation-duration: 0.5s;
}
.Returnship_btnmember{
	background-color: #292525;
	color: #fff;
}
.Returnship_btnfaq{
	color: #292525;
	background-color: #fff;
	border: 1px solid #292525;
}
.card{
	border:0px;
	border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
.card-header{
	border-bottom: 0px;
}
.card-header .btn-link{
	color: #323232 !important;
	font-weight: 600;
}
.card-header .btn-link:hover{
	background-color: #fff !important;
}
.card div:hover{
	background-color: #fff !important;
	text-decoration: none;
}
.card i:hover{
	background-color: #fff !important;
	text-decoration: none;
}


.Pagelocator_prev:hover{
	background-color: #292525;
	color: #fff;
	opacity: 0.9;
	-webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 0.5s;
}
.Pagelocator_next:hover{
color: #292525;
	background-color: rgba(0,0,0,0.05);
	border: 1px solid #292525;
	opacity: 0.9;
	-webkit-animation-name: pulse;
	animation-name: pulse;
	animation-duration: 0.5s;
}
.Pagelocator_prev{
	background-color: #292525;
	color: #fff;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.Pagelocator_next{
	color: #292525;
	background-color: #fff;
	border: 1px solid #292525;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.stairs .col-sm-3{

}


.software_industry img{
	width: 5em;
	height:5em;
	margin: 5px 0px
}
.software_industry div{
	color:#767676;
}
.home_stairs .stair1{
	position: absolute;
	bottom: 105px;
	color: #fff;
	left: 460px;
	border:1px solid #fff;
	padding: 5px 8px;
	font-size: 14px;
}

.home_stairs .stair2{
	position: absolute;
	bottom: 180px;
	color: #fff;
	left: 390px;
	border:1px solid #fff;
	padding: 5px 8px;
	font-size: 14px;
}
.home_stairs .stair3{
	position: absolute;
	bottom: 255px;
	color: #fff;
	left: 310px;
	border:1px solid #fff;
	padding: 5px 8px;
	font-size: 14px;
}
.home_stairs .stair4{
	position: absolute;
	bottom: 335px;
	color: #fff;
	left: 235px;
	border:1px solid #fff;
	padding: 5px 8px;
	font-size: 14px;
}
.stair_info{
	position: absolute;
	bottom: 390px;
	color: #fff;
	left: 255px;
	padding: 5px 8px;
}
.stair_info img{
	height:  6em;
}

.stair_info span{
	font-size: 1.2em;
}
.stairs_bgimg{
	height: 600px;
	margin: auto;
	border-radius: 15px;
}
.footer_developer{
	padding :10px 3% ;
	background-color:#0B0B0B;
	color: #787878;
	margin-top: 3em;
}
.footer_developer_mnbx{
	position: relative;
	margin-bottom:  -2em;
	display: flex;
	justify-content: flex-start;
}
.footer_developer_image{
	width:  9em;
	height: 9em;
	margin: 0em 1em;
	box-shadow: 0 8px 6px -6px rgba(255,255,255,0.2);
	position: relative;
	top: -2.6em;
}
.footer_developer_image img{
	width:  100%;
	border-radius: 2%;
	padding:0px;
	margin: auto;
	display: block;
	border: 2px solid #fff;
}


.footer_developer_heading span{
	font-size: 1.3em
}
.footer_developer_intro span{
	font-size: 1.2em;
	color: rgba(255,255,255,0.7);
}
.footer_developer_cntct i{
	font-size:18px;
	color:#787878;
	margin: 0px 0px;
}

.footer_common{
	padding :10px 3%;
	background-color: #0B0B0B;
}
.footer_common_cntct i{
	font-size: 1.5em;
	margin: 0px 5px;
	color:#777777!important
}
.footer_ceo{
	padding :10px 3% ;
	background-color:#0B0B0B;
	color: #787878;
	margin-top: 9em;
}
.footer_ceo_image{
	position: relative;
	width: 20em;
	top: -7em;
	margin-bottom: -6em
}
.footer_ceo_name{
	text-align: center;
	font-size: 1.6em;
	font-weight: 500;
}
.footer_ceo_info{
	text-align: center;
}
.footer_ceo_info .fa{
	font-size:20px;
	color:#787878;
	margin: 0px 2px;
}




.page_header{
	height: 100%;
	width:100%;
	max-height: 13em;
}
.page_header_bg{
	background:url('../images/background2.jpg');
	background-size: cover;
	background-position: center;
	filter: blur(0px);
	height: 100%;
	width:100%
}

.returnship_card1img{
	width: 20%;
}
.returnship_card1info{
	width: 80%;
	padding: 6px 10px
}
.mentors_oddrow{
	width: 100%;
	margin: 2em auto 2em auto
}
.mentors_oddrow .col-sm-3{
	border-radius: 50%;
}
.mentors_evenrow{
	width: 80%;
	margin: 2em auto 2em auto
}
.mentors_evenrow .col-sm-4{
	border-radius: 50%;
}



/* tooltip*/
.tooltip1 {
 
  display: inline-block;
  border-bottom: 1px dotted black;
  color: #000
}

.tooltip1 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip1 .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip1:hover .tooltiptext {
  visibility: visible;
}



.home_stairsxs{
	display: none;
}
.abcdef{
	display: none;
}

.Our_services_logos img{
	width: 100%;
	display: block;
	margin: auto;
}
.Our_services_logos div{
	margin: 10px 0px;
}
.returnship_card1{
	display: flex;
	justify-content: flex-start;
}
.footer_common_cntct{
	text-align: center;
}
.sec_wju {
	width: 80%;
	margin-top: 1em;
}
.sec_wju .col-sm-4{
	margin-bottom: 6px;
	margin-top: 6px;
}
.sec_wjucol{
	margin-top: 6px;
	border: 2px solid #000;
	border-radius: 5px;
	padding:2em 1em;
	min-height: 100%;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.1);
}

.sec_wju-col_head{
	font-size: 1.5em;
	font-style: italic;
	margin-bottom: 0.5em;
}

.whyjoinus_services_logos div img{
 	width: 60%;
 	display: block;
 	margin: 1em auto 0em auto;
}


.returnship_card1img{
	width: 20%;
}
.returnship_card1info{
	width: 80%;
	padding: 6px 10px
}
.testtionials_card1{
	width: 70%;
	max-width: 400px;
	margin:1em  auto 1em auto;	
	box-shadow: 0px 10px 40px rgba(0,0,0,0.1);
	padding: 0.8em;
	border-radius: 8px;
}
.Testimonials .volunteers_img img{
	border-radius: 3%;
	width: 100%;
	filter: grayscale(0%);

}
.Testimonials .volunteers_img{
	width: 100%;
	height:100%;
	border-radius: 50%;
	margin: auto;
}
.Testimonials-mn-cntnt{
	margin: 8px 0px 2px 0px;
	font-size: 17px;
	text-align: center;
	font-size: 1.2em;
}